<div class="container-fluid footer ">
    <div class="row ">
        <div class="col-sm-3 offset-md-1 ">
            <img src="assets/images/grp2.png" alt="Logo">
           <p id="footer-text"> Lorem ipsum, dolor sit amet cotetur adiping elit. Temporibus eius itaque nam beatae quisq
            uam asperes  Lorem ipsum
             dolor sit amet consectetur adipisicing elit. Veritatis, aut.</p>
        </div>
        <div class="col-sm-1 offset-sm-1 footer-links" ></div>
        <div class="col-sm-2 justified-content-center text-center" id="custom-col">
            <h5>About</h5>
            <p>How it Work<br>Terms and Conditions<br>Privacy Policy<br>Contact Us</p>
        </div>
        <div class="col-sm-2 text-center">
            <h5>Important Links</h5>
            <p>Vehicle Listing<br>Contact Us</p>
        
        </div>
        <div class="col-sm-1 text-center">
            <h5>Socials</h5>
            <p>Instagram<br>Twitter<br>Facebook</p>
        </div>
        <hr>
        <p class="copyright">&copy;2023CharterCar.Allrightsarereserved</p>

        
    </div>

