<!-- <div class="container"><a href="#" class="popular">Popular Car</a>
  <a routerLink="/vehicle-listing" class="viewAll">View All</a>
</div> -->

<!-- <br> -->
<div class="container-fluid cards">
  <div class="card-item">
    <div class="text">
      <h4>Swift Suzuki 2023 </h4>
      <p>sports </p>
    </div><br>
    <div class="like-btn"><input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox"
        value="favorite-button">
      <label for="favorite" class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-heart">
          <path
            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
          </path>
        </svg>

      </label>
    </div>
    <div class="car">
      <img src="../../assets/images/car.png" alt="" width="215px" height="108">
    </div><br>
    <div class="card-detail">
      <div class="test">
        <img src="../../assets/images/gas-station.png" alt="gas station">
        <p>90L</p>
      </div>
      <div class="test">
        <img src="../../assets/images/Car (3).png" alt="manuall">
        <p>Manual</p>
      </div>
      <div class="test">
        <img src="../../assets/images/profile-2user.png" alt=" seats">
        <p>4 People</p>
      </div>
    </div>
    <div class="card-price">
      <p>
        <span class="small-text">pkr. </span>
        <span class="bold-text">4000/</span>
        <span class="grey-text">day </span>
        <button class="btn btn-primary">Rent Now</button>
      </p>

    </div>
  </div>
  <div class="card-item">
    <div class="text">
      <h4>Honda Vezel </h4>
      <p>sports </p>
    </div><br>
    <div class="like-btn"><input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox"
        value="favorite-button">
      <label for="favorite" class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-heart">
          <path
            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
          </path>
        </svg>

      </label>
    </div>
    <div class="car">
      <img src="../../assets/images/car22.png" alt="" width="215px" height="108">
    </div><br>
    <div class="card-detail">
      <div class="test">
        <img src="../../assets/images/gas-station.png" alt="gas station">
        <p>90L</p>
      </div>
      <div class="test">
        <img src="../../assets/images/Car (3).png" alt="manuall">
        <p>Manual</p>
      </div>
      <div class="test">
        <img src="../../assets/images/profile-2user.png" alt=" seats">
        <p>4 People</p>
      </div>
    </div>
    <div class="card-price">
      <p>
        <span class="small-text">pkr. </span>
        <span class="bold-text">4000/</span>
        <span class="grey-text">day </span>
        <button class="btn btn-primary">Rent Now</button>
      </p>
    </div>
  </div>
  <div class="card-item">
    <div class="text">
      <h4>Rolls Royce</h4>
      <p>sports </p>
    </div><br>
    <div class="like-btn"><input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox"
        value="favorite-button">
      <label for="favorite" class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-heart">
          <path
            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
          </path>
        </svg>

      </label>
    </div>
    <div class="car">
      <img src="../../assets/images/Car33.png" alt="" width="215px" height="108">
    </div><br>
    <div class="card-detail">
      <div class="test">
        <img src="../../assets/images/gas-station.png" alt="gas station">
        <p>90L</p>
      </div>
      <div class="test">
        <img src="../../assets/images/Car (3).png" alt="manuall">
        <p>Manual</p>
      </div>
      <div class="test">
        <img src="../../assets/images/profile-2user.png" alt=" seats">
        <p>4 People</p>
      </div>
    </div>
    <div class="card-price">
      <p>
        <span class="small-text">pkr. </span>
        <span class="bold-text">4000/</span>
        <span class="grey-text">day </span>
        <button class="btn btn-primary">Rent Now</button>
      </p>
    </div>
  </div>
  <div class="card-item">
    <div class="text">
      <h4>Wagon-R</h4>
      <p>sports </p>
    </div><br>
    <div class="like-btn"><input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox"
        value="favorite-button">
      <label for="favorite" class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-heart">
          <path
            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
          </path>
        </svg>

      </label>
    </div>
    <div class="car">
      <img src="../../assets/images/Car44.png" alt="" width="215px" height="108">
    </div><br>
    <div class="card-detail">
      <div class="test">
        <img src="../../assets/images/gas-station.png" alt="gas station">
        <p>90L</p>
      </div>
      <div class="test">
        <img src="../../assets/images/Car (3).png" alt="manuall">
        <p>Manual</p>
      </div>
      <div class="test">
        <img src="../../assets/images/profile-2user.png" alt=" seats">
        <p>4 People</p>
      </div>
    </div>
    <div class="card-price">
      <p>
        <span class="small-text">pkr. </span>
        <span class="bold-text">4000/</span>
        <span class="grey-text">day </span>
        <button class="btn btn-primary">Rent Now</button>
      </p>
    </div>
  </div>
  <div class="card-item">
    <div class="text">
      <h4>Wagon-R</h4>
      <p>sports </p>
    </div><br>
    <div class="like-btn"><input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox"
        value="favorite-button">
      <label for="favorite" class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-heart">
          <path
            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
          </path>
        </svg>

      </label>
    </div>
    <div class="car">
      <img src="../../assets/images/Car44.png" alt="" width="215px" height="108">
    </div><br>
    <div class="card-detail">
      <div class="test">
        <img src="../../assets/images/gas-station.png" alt="gas station">
        <p>90L</p>
      </div>
      <div class="test">
        <img src="../../assets/images/Car (3).png" alt="manuall">
        <p>Manual</p>
      </div>
      <div class="test">
        <img src="../../assets/images/profile-2user.png" alt=" seats">
        <p>4 People</p>
      </div>
    </div>
    <div class="card-price">
      <p>
        <span class="small-text">pkr. </span>
        <span class="bold-text">4000/</span>
        <span class="grey-text">day </span>
        <button class="btn btn-primary">Rent Now</button>
      </p>
    </div>
  </div>
  <div class="card-item">
    <div class="text">
      <h4>Wagon-R</h4>
      <p>sports </p>
    </div><br>
    <div class="like-btn"><input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox"
        value="favorite-button">
      <label for="favorite" class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-heart">
          <path
            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
          </path>
        </svg>

      </label>
    </div>
    <div class="car">
      <img src="../../assets/images/Car44.png" alt="" width="215px" height="108">
    </div><br>
    <div class="card-detail">
      <div class="test">
        <img src="../../assets/images/gas-station.png" alt="gas station">
        <p>90L</p>
      </div>
      <div class="test">
        <img src="../../assets/images/Car (3).png" alt="manuall">
        <p>Manual</p>
      </div>
      <div class="test">
        <img src="../../assets/images/profile-2user.png" alt=" seats">
        <p>4 People</p>
      </div>
    </div>
    <div class="card-price">
      <p>
        <span class="small-text">pkr. </span>
        <span class="bold-text">4000/</span>
        <span class="grey-text">day </span>
        <button class="btn btn-primary">Rent Now</button>
      </p>
    </div>
  </div>
</div>



<!-- 
<div class="card-item" *ngFor="let car of carsList">
  <div class="text">
      <h4>{{car.carName}}</h4>
      <p>{{car.description}}</p>
    </div><br>
      <div class="like-btn"><img  src="../../assets/images/Like.png" alt="">
      </div>
      <div class="car"> 
        <img src="{{car.imgUrl}}" alt="" width="215px" height="108">
      </div><br>
      <div class="card-detail">
          <div class="test">
            <img src="../../assets/images/gas-station.png" alt="gas station"
            ><p>{{car.fuel}}L</p>
          </div>
          <div class="test">
             <img src="../../assets/images/Car (1).png" alt="manuall" >
             <p>{{car.machinery}}</p>
            </div>
          <div class="test">
            <img src="../../assets/images/profile-2user.png" alt=" seats">
            <p>{{car.people}} People</p>
          </div>
      </div>
     <div class="card-price">
      <p>
        <span class="small-text">pkr. </span>
        <span class="bold-text">{{car.price}}/</span> 
        <span class="grey-text">day  </span> 
        <button class="btn btn-primary">Rent Now</button>
      </p>
     
     </div>
</div> -->