<div class="container-fluid cover ">
    <div class="row ">
      <div class="col-12">
         <img src="../../assets/images/banner lambo 1 (1).png" alt="">
         <div class="cover-text">
            <h2>Safer, Faster And <br>Comfortable</h2>
            <p>Get in touch with our<br> luxury cars</p>
            <button class="btn btn-primary" routerLink="/vehicle-listing">Rent Now</button>
         </div>
     </div>
    </div>
  </div>
  <div class="container-fluid banner ">
    <div class="row">
      <div class="col-sm-6 order-sm-2 banner-text text-center mt-3">
        <h1>Rent a Car</h1>
        <p>We Pride ourselves in always going the<br> extra mile for our customer</p>
      </div>
      <div class="col-sm-6 order-sm-1">
        <br>
        <img src="../../assets/images/Group 24 (1).png" alt="banner" >
      </div>
    </div>
  </div>
  